@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.gift-voucher {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.social-media-icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #d0b200;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.contact-mail {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section {
    background-color: #0d2436;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.follow-us-heading {
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    font-family: "Roboto";
}

.follow-us-section {
    background-color: white;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.payment-image {
    width: 60px;
    height: 60px;
}

.healthy-food-section-paragraph {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
}

.menu-card-link {
    color: #d0b200;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
}

.menu-card-heading {
    font-size: 20px;
    font-family: "Roboto";
    color: #323f4b;
    margin-top: 14px;
    font-weight: 500;
}

.explore-menu-card-image {
    border-radius: 16px;
}

.explore-menu-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.explore-menu-section {
    background-color: #f9fbfe;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
}

.card-image {
    width: 87px;
    height: 90px;
}

.wcu-section-card {
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    text-align: center;
    border-color: #e5eaf4;
}

.wcu-section-paragraph {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.wcu-section {
    background-color: #f9fbfe;
}

.outline-button {
    background-color: transparent;
    color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 1px;
    border-radius: 8px;
    border-color: #d0b200;
    border-style: solid;
}

.custom-button {
    background-color: #d0b200;
    color: white;
    width: 130px;
    height: 45px;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 8px;
}

.banner-section-description {
    color: #f5f7fa;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 300;
}

.banner-section-heading {
    color: white;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 300;
}

.food-munch-banner-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

#custom-navbar-text1 {
    color: #323f4b;
    font-family: "Roboto";
}

#custom-navbar-text2 {
    color: #323f4b;
    font-family: "Roboto";
}

#custom-navbar-text3 {
    color: #323f4b;
    font-family: "Roboto";
}

#custom-navbar-text4 {
    color: #323f4b;
    font-family: "Roboto";
}

.navbar-logo {
    width: 60px;
    height: 60px;
}